.channel-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #1a1a1a;
    color: white;
    padding-top: 20px;
}
.channel-list{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    
}