.channel-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    height: 100%;
    background-color: #1a1a1a;
    color: white;
    padding-top: 20px;
}


.button2 {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
    margin: 10px;
    width: 100%;
    min-width: 250px;
}

.button2::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 100%;
    height: 40px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: #3b82f6;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button2:hover::before {
    scale: 1;
}

.button2:hover {
    color: #ffffff;
    scale: 1;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.4);
}

.button2:active {
    scale: 1;
}


.create-button {
    background-color: #565656;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 100px;
    height: 45px;
    transition: 0.3s;
    position: relative;
    top: 100%;
}

.create-button:hover {
    background-color: #3b82f6;
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #fff;
}