.sidebar-container{
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 100vh;
    background-color: #1a1a1a;
    color: white;
}

.sidebar-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    background-color: #1a1a1a;
    font-size: 35px;
    margin-bottom: 30px;
}

.sidebar-channel-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    background-color: #1a1a1a;
}